/* Title Area */

#row1 {
    height: 6em;
}

#tasks {
    padding-top: 1em;
    text-align: center;
    background-color: lightsteelblue;
}

#date {
    background-color: lightsteelblue;
    text-align: center;
    padding-top: 2em;
}

#bumper {
    background-color:lightsteelblue;
}

/* User area  */ 

#row2 {
    height: 30em;
}

#userName1 {
    background-color:  rgba(173, 216, 230, 0.123);
    text-align: center;
    padding-top: 6em;
}

#userName2 {
    background-color:  rgba(255, 182, 193, 0.226);
    text-align: center;
    padding-top: 6em;
}

#taskList {
    background: url('paper.png');
    background-size: 100%;
    text-align: center;
    padding-top: 5em;
    
}

.image-cropper {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}


#icon1 {
    width: auto;
    height: 100%;
}

#icon2 {
    width: auto;
    height: 100%;
}

/* Progress Bar Section */

#row3 {
    height: 10em;
}

#user1Bar {
    padding-top: 5em;
    background-color:rgba(173, 216, 230, 0.123);
}

#user2Bar {
    padding-top: 5em;
    background-color:rgba(255, 182, 193, 0.226);
}

#user2Bar .progress-right .progress-bar {
    float: right;
}

#prizeIcon {
    text-align: center;
    background-image: linear-gradient(to right, rgba(173, 216, 230, 0.123) ,  rgba(255, 182, 193, 0.226));
    /* border-style: dotted; */
}

#presentIcon {
    height: 8em;
    padding-top: 1em;
}

/* Complete User Tasks */

#user1Tasks {
    text-align: center;
    background-color:  rgba(173, 216, 230, 0.123);
}

#user2Tasks {
    text-align: center;
    background-color:rgba(255, 182, 193, 0.226);
}

#divider {
    background-image: linear-gradient(to right, rgba(173, 216, 230, 0.123) ,  rgba(255, 182, 193, 0.226));
}