/* Title Area */

#row1 {
    height: 6em;
}

#tasks {
    padding-top: 1em;
    text-align: center;
    background-color: lightgray;
    font-family: 'Maven Pro', sans-serif;
}

#date {
    background-color: lightgray;
    text-align: center;
    padding-top: 2em;
    font-family: 'Maven Pro', sans-serif;
}

#bumper {
    background-color:lightgray;
}

/* User area  */ 

#row2 {
    height: 30em;
}

#userName1 {
    background-color:   rgba(255, 236, 212, 0.561);
    text-align: center;
    padding-top: 6em;
    font-family: 'Maven Pro', sans-serif;
}

#userName2 {
    background-color:  rgba(255, 236, 212, 0.561);
    text-align: center;
    padding-top: 6em;
    font-family: 'Maven Pro', sans-serif;
}

#taskList {
    background: url('paper7.png');
    background-size: 100%;
    text-align: center;
    padding-top: 5em;
    font-family: 'Indie Flower', cursive;
    background-color: rgba(255, 236, 212, 0.561);
}

.image-cropper {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
    border-style: solid;
    border-color: lightgray;
}


#icon1 {
    width: auto;
    height: 100%;
}

#icon2 {
    width: auto;
    height: 100%;
}

/* Progress Bar Section */

#row3 {
    height: 10em;
}

#user1Bar {
    padding-top: 5em;
    background-color:rgba(173, 216, 230, 0.123);
}

#user2Bar {
    padding-top: 5em;
    background-color:rgba(255, 182, 193, 0.226);
}

#user2Bar .progress-right .progress-bar {
    float: right;
}

#prizeIcon {
    text-align: center;
    background-image: linear-gradient(to right, rgba(173, 216, 230, 0.123) ,  rgba(255, 182, 193, 0.226));
    /* border-style: dotted; */
    font-family: 'Maven Pro', sans-serif;

}

#presentIcon {
    height: 8em;
    padding-top: 1em;
}

/* Complete User Tasks */

#user1Tasks {
    text-align: center;
    background-color:  rgba(173, 216, 230, 0.123);
    font-family: 'Indie Flower', cursive;

}

#user2Tasks {
    text-align: center;
    background-color:rgba(255, 182, 193, 0.226);
    font-family: 'Indie Flower', cursive;

}

#divider {
    background-image: linear-gradient(to right, rgba(173, 216, 230, 0.123) ,  rgba(255, 182, 193, 0.226));
}